//write common styles here 
.primary-color{
    background-color: $primary-color;
}

//common-content-block
.common-content-block{
    padding: 30px 0;
    text-align: center;
    &__title{
        font-size: 16px;
        font-weight: 700;
        color: black;
        margin-bottom: 0;
        position: relative;
        max-width: 600px;
        width: 100%;
        display: inline-block;
        &::after{
            content: ''; 
            margin-bottom: 10px;
            margin-top: 5px;
            background-color: #e0e0e0;
            height: 1px;
            display: block;
        }
    }
    &__para{
        color: $secondary-color;
        margin: 0 auto;
        font-size: 16px;
        line-height: 1.5;
        max-width: 700px;
    }
}

//media-grid-block
.media-grid-block{
    overflow: hidden;
    text-align: center;
    &__img{
        width: 100%;
        display: block;
        &--auto{
            width: auto;
            vertical-align: middle;
            display: inline-block;
        }
    }
    &__video{
        width: 100%;
        background-color: #eee;
    }
    &__wrapper{
        margin-left: 0;
        margin-right: 0;
        &--no-padding-xs{
            margin-left: -($grid-gutter/2);
            margin-right: -($grid-gutter/2);
        }
    }
    &__col{
        padding-left: 0; 
        padding-right: 0;
    }
}

//scroll-top-btn
.scroll-top-btn{
    @include equal-size(40px);
    @include border-radius(50%);
    padding-bottom: 2px;
    border: solid 2px #9b9b9b;
    color: #9b9b9b;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: $stack-md;
    @include visibility(hidden);
    @include transform(translateY(-10px));
    &:hover{
        color: $primary-color;
        border-color: $primary-color;
    }
    &.shown{
        @include visibility(visible);
        @include transform(translateY(0));
    }
}

//overlay
.menu-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $stack-lg;
    display: none;
    cursor:url(../images/cursor.png), pointer;
    background-color: rgba($overlay-color, .5);
}
//push-menu
.push-menu{
    position: fixed;
    top: 0;
    height: 100%;
    background-color: #eeeeee;
    z-index: $stack-lg;
    width: 300px;
    @include visibility(hidden);
    left: -300px;
    @include transition(all 0.2s linear);
    &-open{
        @include visibility(visible);
        left: 0;
    }
    
    $menu-border: #f9f9f9;
    
    &__top-block{ 
        position: relative;
    }
    &__search{
        margin-right: 60px;
        position: relative;
        padding-left: 25px;
        margin-left: 15px;
        border-right: solid 2px $menu-border;
        &-icon{
            position: absolute;
            left: 0;
            top: 50%;
            font-size: 16px;
            margin-top: -8px;
        }
        &-field{
            height: 60px;
            border: none;
            padding: 0; 
            font-size: 14px;
            letter-spacing: 0.05em;
            background-color: transparent;
            @include placeholder(#d2d2d2, 1);
        }
    }
    &__back-btn{
        float: right;
        width: 60px;
        height: 60px;
        text-align: center;
        padding-bottom: 2px;
        color: $primary-color;
        font-size: 20px;
        font-weight: bold;
        background-color: #eee;
        &:hover{
            background-color: $primary-color;
            color: #fff;
        }
    }
    
    //menu
    &__menu{
        height: 80%;
        height: calc( 100% - 60px);
        overflow-y: auto;
        &-list{ 
            &--dropdown{
                &-link{
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 0.1em;
                    cursor: pointer;
                }
            }
        }
        &-link{
            display: block;
            padding: 10px;
            font-size: 16px;
            color: #131313;
            border-top: solid 2px $menu-border;
            background-color: #eeeeee;
            &:hover{
                color: #fff;
                background-color: $primary-color;
            }
            &--news-letter{
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0.1em;
            }
        }
    }
    &__dropdown-menu{
        display: none;
    }
    &__dropdown-link{
        display: block;
        padding: 8px 10px;
        color: #9d9d9d;
        font-size: 16px;
        border-top: solid 2px $menu-border;
        background-color: #eeeeee;
        &:hover{
            color: #fff;
            background-color: $primary-color;
        }
    }
}

///////////////////////////////////  
//Min width: Media Queries//
///////////////////////////////////

 
@media (min-width: $screen-sm-min) { 

    //common-content-block
    .common-content-block{
        padding: 60px 0;  
        &__title{
            font-size: 18px; 
            color: $title-font-color;
        }
        &__para{
            font-size: 18px;
        }
    }
    //media-grid-block
    .media-grid-block{ 
        &__wrapper{
            margin-left: -1px;
            margin-right: -1px;
        }
        &__col{
            padding-left: 1px;
            padding-right: 1px;
            &--right-sm{
                float: right;
            }
            &--mb{
                margin-bottom: 2px;
            }
        }
    }

}

@media (min-width: $screen-md-min) { 

    //common-content-block
    .common-content-block{
        padding: 90px 0;  
        &__title{
            font-size: 22px; 
        }
        &__para{
            font-size: 22px;
        }
    }
}

@media (min-width: $screen-lg-min) { 
    //scroll-top-btn
    .scroll-top-btn{
        @include equal-size(50px); 
        border-width: 2px;
        font-size: 24px; 
        right: 30px;
        bottom: 60px; 
    }
}

@media (min-width: 1700px) { 

    //common-content-block
    .common-content-block{
        padding: 120px 0;  
    }
}
 
///////////////////////////////////  
//Max width: Media Queries//
///////////////////////////////////

@media (max-width: $screen-xs-max) {  
}
 
@media (max-width: 359px) {  
}