@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@font-face {
  font-family: 'mousIcon';
  src: url("../fonts/mousIcon.eot?f0fl0j");
  src: url("../fonts/mousIcon.eot?f0fl0j#iefix") format("embedded-opentype"), url("../fonts/mousIcon.ttf?f0fl0j") format("truetype"), url("../fonts/mousIcon.woff?f0fl0j") format("woff"), url("../fonts/mousIcon.svg?f0fl0j#mousIcon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "mousIcon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-play:before {
  content: "\e90c"; }

.icon-basket:before {
  content: "\e900"; }

.icon-close:before {
  content: "\e901"; }

.icon-dollar:before {
  content: "\e902"; }

.icon-facebook:before {
  content: "\e903"; }

.icon-instagram:before {
  content: "\e904"; }

.icon-left-arrow:before {
  content: "\e905"; }

.icon-menu:before {
  content: "\e906"; }

.icon-search:before {
  content: "\e907"; }

.icon-twitter:before {
  content: "\e908"; }

.icon-up-arrow:before {
  content: "\e909"; }

.icon-user:before {
  content: "\e90a"; }

.icon-youtube:before {
  content: "\e90b"; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a,
input[type="radio"],
input[type="checkbox"],
button,
select,
.btn,
.text-field {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out false;
  -o-transition: all 0.2s ease-in-out false;
  transition: all 0.2s ease-in-out;
  outline: none; }
  a:hover, a:focus, a:focus,
  input[type="radio"]:hover,
  input[type="radio"]:focus,
  input[type="radio"]:focus,
  input[type="checkbox"]:hover,
  input[type="checkbox"]:focus,
  input[type="checkbox"]:focus,
  button:hover,
  button:focus,
  button:focus,
  select:hover,
  select:focus,
  select:focus,
  .btn:hover,
  .btn:focus,
  .btn:focus,
  .text-field:hover,
  .text-field:focus,
  .text-field:focus {
    text-decoration: none;
    outline: none !important;
    outline-style: none;
    outline-width: 0; }

html {
  -webkit-text-size-adjust: none; }

* {
  -webkit-tap-highlight-color: transparent; }

html, body {
  min-height: 100%; }

a[href^="tel"] {
  color: inherit; }

p {
  font-size: 14px; }

a {
  text-decoration: none; }

button::-moz-focus-inner {
  border: 0; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

button {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  display: block; }
  img.inline {
    display: inline-block; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* mobile firefox too! */ }

ul {
  list-style: none; }

img {
  max-width: 100%; }

.full-width {
  width: 100%; }

.db {
  display: block; }

textarea.form-control {
  resize: vertical; }

*::-moz-selection {
  background: #00cc9c;
  color: #fff;
  text-shadow: none; }

*::selection {
  background: #00cc9c;
  color: #fff;
  text-shadow: none; }

.radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.clear-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.margin-bottom {
  margin-bottom: 10px; }

.margin-top {
  margin-top: 10px; }

.margin-left {
  margin-left: 10px; }

.margin-right {
  margin-right: 10px; }

.clear-margin-bottom {
  margin-bottom: 0 !important; }

.clear-margin-top {
  margin-top: 0 !important; }

.clear-margin-left {
  margin-left: 0 !important; }

.clear-margin-right {
  margin-right: 0 !important; }

.clear-margins {
  margin: 0 !important; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

.hidden-xs {
  display: none; }

.visible-xs {
  display: block; }

@media (min-width: 768px) {
  .hidden-sm {
    display: none; }
  .visible-sm {
    display: block; } }

@media (min-width: 992px) {
  .hidden-md {
    display: none; }
  .visible-md {
    display: block; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none; }
  .visible-lg {
    display: block; } }

body {
  font-family: "Lato", sans-serif;
  color: #3e3e3e;
  background-color: #fff;
  font-size: 14px; }

a {
  color: #0275d8;
  line-height: 1.42857; }
  a:hover, a:focus, a:active {
    color: #025aa5;
    text-decoration: none; }

p {
  color: #3e3e3e;
  margin-bottom: 10px;
  line-height: 1.42857;
  font-size: 16px;
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 26px; }

h6 {
  font-size: 20px; }

h1, h2, h3, h4, h5, h6 {
  color: #3e3e3e;
  line-height: 1.42857;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
  font-weight: normal; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 85%; }
  h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
    font-weight: 300; }
  h1.semi-bold, h2.semi-bold, h3.semi-bold, h4.semi-bold, h5.semi-bold, h6.semi-bold {
    font-weight: 500; }
  h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold {
    font-weight: 600; }
  h1.extra-bold, h2.extra-bold, h3.extra-bold, h4.extra-bold, h5.extra-bold, h6.extra-bold {
    font-weight: 900; }
  h1.uppercase, h2.uppercase, h3.uppercase, h4.uppercase, h5.uppercase, h6.uppercase {
    text-transform: uppercase; }

small {
  font-size: 85%; }

.align-text-left {
  text-align: left; }

.align-text-center {
  text-align: center; }

.align-text-right {
  text-align: right; }

.align-text-justify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

b, strong {
  font-weight: bold; }

italic {
  font-style: italic; }

.btn {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: "Lato", sans-serif;
  font-weight: 500; }
  .btn.sm {
    font-size: 12px;
    padding: 5px 10px; }
  .btn.lg {
    font-size: 16px;
    padding: 15px 30px; }
  .btn:active {
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in false;
    -o-transition: all 0.1s ease-in false;
    transition: all 0.1s ease-in; }

.primary-btn {
  background-color: #00cc9c;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 10px 20px;
  font-weight: 700; }
  .primary-btn:focus, .primary-btn:active {
    color: #fff;
    background-color: #00664e; }
  .primary-btn:hover, .primary-btn.active {
    color: #fff;
    background-color: #009975; }

.primary-btn-outline {
  background-color: transparent;
  color: #00cc9c;
  border: solid 1px #00cc9c;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 10px 20px; }
  .primary-btn-outline:focus, .primary-btn-outline:active {
    color: #fff;
    background-color: #00b389; }
  .primary-btn-outline:hover, .primary-btn-outline.active {
    color: #fff;
    background-color: #00cc9c; }

.secondary-btn {
  background-color: #3e3e3e;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 10px 20px; }
  .secondary-btn:focus, .secondary-btn:active {
    color: #fff;
    background-color: #8b8b8b; }
  .secondary-btn:hover, .secondary-btn.active {
    color: #fff;
    background-color: #717171; }

.white-btn-outline {
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 10px 20px; }
  .white-btn-outline:focus, .white-btn-outline:active {
    color: #000;
    background-color: #f2f2f2; }
  .white-btn-outline:hover, .white-btn-outline.active {
    color: #000;
    background-color: #fff; }

.black-btn-outline {
  background-color: transparent;
  color: #000;
  border: solid 1px #575757;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 10px 20px;
  font-weight: 600;
  font-family: "Lato", sans-serif; }
  .black-btn-outline:focus, .black-btn-outline:active {
    color: #fff;
    background-color: #4a4a4a; }
  .black-btn-outline:hover, .black-btn-outline.active {
    color: #fff;
    background-color: #575757; }

.rounded-btn {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }

.xs-rounded-btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.btn[disabled=disabled],
.btn:disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  cursor: not-allowed; }

.shadow-btn {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 14px 35px 13px;
  -webkit-box-shadow: 0 21px 27px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 21px 27px rgba(0, 0, 0, 0.05);
  box-shadow: 0 21px 27px rgba(0, 0, 0, 0.05); }

.social-links {
  display: inline-block; }
  .social-links a {
    text-align: center;
    display: inline-block;
    width: 20px;
    color: #fff;
    font-size: 18px; }
    .social-links a:hover {
      color: #00cc9c; }
    .social-links a + a {
      margin-left: 10px; }

.overflow-hidden {
  overflow: hidden !important; }

.popup-box-wrap {
  display: none;
  background-color: rgba(255, 255, 255, 0.95);
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 112; }
  .popup-box-wrap .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }

.popup-box {
  width: 80%;
  margin: 60px auto;
  background-color: white;
  -webkit-box-shadow: 0 2px 5px rgba(40, 41, 42, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(40, 41, 42, 0.2);
  box-shadow: 0 2px 5px rgba(40, 41, 42, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  z-index: 9; }
  .popup-box .popup-content {
    padding: 40px 35px; }
  .popup-box .outside-close {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    top: -35px;
    right: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
    .popup-box .outside-close:hover {
      background-color: #000;
      color: #fff; }
  .popup-box .popup-header {
    padding: 40px 35px 0;
    position: relative; }
    .popup-box .popup-header h3 {
      display: inline-block;
      font-size: 18px;
      margin: 0;
      color: #3e3e3e;
      font-family: "Lato", sans-serif;
      font-weight: 700; }
    .popup-box .popup-header .popup-close {
      float: right;
      font-size: 12px;
      color: #b9b9b9;
      font-weight: normal;
      position: relative;
      top: -10px;
      cursor: pointer;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
      opacity: 0.6;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear false;
      -o-transition: all 0.2s linear false;
      transition: all 0.2s linear; }
      .popup-box .popup-header .popup-close:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
  .popup-box .popup-footer {
    padding: 0 35px 40px; }
    .popup-box .popup-footer .submit-btn {
      font-family: "Lato", sans-serif;
      font-weight: 600;
      height: 44px; }

@media (min-width: 992px) {
  .popup-box {
    width: 700px;
    margin: 50px auto; }
    .popup-box .outside-close {
      right: -35px;
      top: 0; }
    .popup-box.popup-box-sm {
      width: 400px; }
    .popup-box.popup-box-md {
      width: 600px; }
    .popup-box.popup-box-lg {
      width: 1000px; } }

.text-field {
  width: 100%;
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear false;
  -o-transition: all 0.2s linear false;
  transition: all 0.2s linear;
  border: solid 1px #dfe1e4;
  height: 31px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #3e3e3e;
  padding: 10px; }
  .text-field::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #a1a1a1;
    opacity: 1; }
  .text-field::-moz-placeholder {
    /* Firefox 19+ */
    color: #a1a1a1;
    opacity: 1; }
  .text-field:-ms-input-placeholder {
    /* IE 10+ */
    color: #a1a1a1;
    /*color: $color;
        opacity: $opacity;*/ }
  .text-field::-ms-input-placeholder {
    /* Firefox 18- */
    color: #a1a1a1;
    opacity: 1; }
  .text-field:-moz-placeholder {
    /* Firefox 18- */
    color: #a1a1a1;
    opacity: 1; }
  .text-field:focus {
    border-color: #c3c7cd; }

.hidden-input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

/*dropdown selectbox list as ul li method*/
.custom-select {
  border-bottom: solid 1px rgba(0, 204, 156, 0.4);
  display: inline-block;
  height: 46px;
  position: relative;
  padding: 0;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  line-height: 46px;
  text-align: left; }
  .custom-select .list-field {
    width: 100%;
    height: 46px;
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
  .custom-select .active-list {
    width: 100%;
    height: 46px;
    padding: 0;
    cursor: pointer;
    line-height: 44px;
    font-size: 14px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
    color: rgba(0, 204, 156, 0.35); }
    .custom-select .active-list:after {
      content: "\e939";
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: "mousIcon" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      right: 0;
      top: 50%;
      height: 46px;
      line-height: 46px;
      color: rgba(0, 204, 156, 0.6);
      font-size: 14px;
      margin-top: -23px; }
  .custom-select .added {
    color: #00cc9c; }
  .custom-select .drop-down-list {
    width: 100%;
    height: auto;
    max-height: 150px;
    overflow-x: auto;
    z-index: 99;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 46px;
    left: 0;
    display: block;
    border-top: none;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
    -webkit-transform: scale(1, 0.9) translateY(-20px);
    -moz-transform: scale(1, 0.9) translateY(-20px);
    -ms-transform: scale(1, 0.9) translateY(-20px);
    -o-transform: scale(1, 0.9) translateY(-20px);
    transform: scale(1, 0.9) translateY(-20px);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in false;
    -o-transition: all 0.2s ease-in false;
    transition: all 0.2s ease-in; }
    .custom-select .drop-down-list::-webkit-scrollbar {
      width: 6px; }
    .custom-select .drop-down-list::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
      -moz-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
    .custom-select .drop-down-list::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
      -moz-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
      box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
    .custom-select .drop-down-list li {
      padding: 10px;
      cursor: pointer;
      font-size: inherit;
      line-height: normal;
      border-bottom: solid 1px rgba(255, 255, 255, 0.05);
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in false;
      -o-transition: all 0.2s ease-in false;
      transition: all 0.2s ease-in;
      list-style: none;
      background-color: #0d0d0d;
      color: #fff; }
      .custom-select .drop-down-list li input[type="checkbox"] {
        margin: 0;
        margin-right: 8px;
        position: relative;
        top: 1px; }
      .custom-select .drop-down-list li label {
        font-weight: normal;
        cursor: pointer;
        display: block; }
    .custom-select .drop-down-list li:hover {
      background-color: #1a1a1a; }
  .custom-select.select-open .drop-down-list {
    visibility: visible;
    -webkit-transform: scale(1) translateY(0px);
    -moz-transform: scale(1) translateY(0px);
    -ms-transform: scale(1) translateY(0px);
    -o-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  .custom-select.select-open .active-list:after {
    content: "\e93a"; }

.tooltip {
  position: relative;
  overflow: visible; }
  .tooltip .tooltip-content {
    position: absolute;
    background-color: white;
    padding: 10px 12px;
    color: #686868;
    font-size: 14px;
    font-weight: normal !important;
    font-style: normal;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    visibility: hidden;
    font-family: "Lato", sans-serif;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear false;
    -o-transition: all 0.3s linear false;
    transition: all 0.3s linear;
    z-index: 98;
    line-height: 1;
    border: solid 1px #dfe1e4;
    -webkit-box-shadow: 0 2px 6px rgba(62, 62, 62, 0.13);
    -moz-box-shadow: 0 2px 6px rgba(62, 62, 62, 0.13);
    box-shadow: 0 2px 6px rgba(62, 62, 62, 0.13); }
    .tooltip .tooltip-content::after {
      position: absolute;
      content: ''; }
    .tooltip .tooltip-content::before {
      position: absolute;
      content: ''; }
    .tooltip .tooltip-content.single-line {
      white-space: nowrap;
      text-overflow: ellipsis; }
  .tooltip.tooltip-right .tooltip-content {
    left: 100%;
    margin-left: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .tooltip.tooltip-right .tooltip-content::after {
      border: 8px solid transparent;
      border-right: 8px solid white;
      border-left: 0;
      height: 0;
      width: 0;
      left: -8px;
      top: 9px; }
    .tooltip.tooltip-right .tooltip-content::before {
      border: 8px solid transparent;
      border-right: 8px solid #3e3e3e;
      border-left: 0;
      height: 0;
      width: 0;
      left: -8px;
      top: 9px; }
  .tooltip.tooltip-left .tooltip-content {
    right: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 8px; }
    .tooltip.tooltip-left .tooltip-content::after {
      border: 8px solid transparent;
      border-left: 8px solid white;
      border-right: 0;
      height: 0;
      width: 0;
      right: -8px;
      top: 9px; }
    .tooltip.tooltip-left .tooltip-content::before {
      border: 8px solid transparent;
      border-left: 8px solid #3e3e3e;
      border-right: 0;
      height: 0;
      width: 0;
      right: -8px;
      top: 9px; }
  .tooltip.tooltip-bottom .tooltip-content {
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 8px; }
    .tooltip.tooltip-bottom .tooltip-content::after {
      border: 8px solid transparent;
      border-bottom: 8px solid white;
      border-top: 0;
      height: 0;
      width: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      top: -8px; }
    .tooltip.tooltip-bottom .tooltip-content::before {
      border: 8px solid transparent;
      border-bottom: 8px solid #3e3e3e;
      border-top: 0;
      height: 0;
      width: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      top: -8px; }
  .tooltip.tooltip-top .tooltip-content {
    left: 50%;
    bottom: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 8px; }
    .tooltip.tooltip-top .tooltip-content::after {
      border: 8px solid transparent;
      border-top: 8px solid white;
      border-bottom: 0;
      height: 0;
      width: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: -8px; }
    .tooltip.tooltip-top .tooltip-content::before {
      border: 8px solid transparent;
      border-top: 8px solid #3e3e3e;
      border-bottom: 0;
      height: 0;
      width: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: -8px; }
  .tooltip .info-tooltip {
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    margin-left: 3px;
    font-weight: normal; }
  .tooltip:hover .tooltip-content {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible; }
  .tooltip.sm-width .tooltip-content {
    width: 180px;
    line-height: 1.2; }
  .tooltip.single-line .tooltip-content {
    white-space: nowrap; }

@media (max-width: 767px) {
  .tooltip.align-left-xs .tooltip-content {
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }
    .tooltip.align-left-xs .tooltip-content::after, .tooltip.align-left-xs .tooltip-content::before {
      left: 10px;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
  .tooltip.align-right-xs .tooltip-content {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    left: auto;
    right: 0; }
    .tooltip.align-right-xs .tooltip-content::after, .tooltip.align-right-xs .tooltip-content::before {
      left: auto;
      right: 5px;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); } }

.tab .tab-menu {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0; }
  .tab .tab-menu a {
    color: #505050;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 10px;
    border-bottom: solid 2px transparent; }
    .tab .tab-menu a.active {
      border-color: #00cc9c;
      color: #3e3e3e; }

.tab .tab-container_wrpr {
  background: #fff;
  padding: 10px; }
  .tab .tab-container_wrpr.no-padding {
    padding: 0; }

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left;
  cursor: move; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
.grabbing {
  cursor: url(../images/grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center; }

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5; }

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none; }

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */ }

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1; }

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(../images/AjaxLoader.gif) no-repeat center center; }

/* Grid */
.layout-container,
.layout-fluid-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1; }
  .layout-container:before, .layout-container:after,
  .layout-fluid-container:before,
  .layout-fluid-container:after {
    content: " ";
    display: table; }
  .layout-container:after,
  .layout-fluid-container:after {
    clear: both; }

.layout-wrapper {
  margin-left: -15px;
  margin-right: -15px;
  *zoom: 1; }
  .layout-wrapper:before, .layout-wrapper:after {
    content: " ";
    display: table; }
  .layout-wrapper:after {
    clear: both; }
  .layout-wrapper.no-gutter {
    margin: 0; }
    .layout-wrapper.no-gutter [class^="layout-xs-"],
    .layout-wrapper.no-gutter [class^="layout-sm-"],
    .layout-wrapper.no-gutter [class^="layout-md-"],
    .layout-wrapper.no-gutter [class^="layout-lg-"] {
      padding: 0; }

.medium-grid {
  margin-left: -10px;
  margin-right: -10px; }
  .medium-grid > [class^="layout-"] {
    padding-left: 10px;
    padding-right: 10px; }

.small-grid {
  margin-left: -5px;
  margin-right: -5px; }
  .small-grid > [class^="layout-"] {
    padding-left: 5px;
    padding-right: 5px; }

.x-small-grid {
  margin-left: -3px;
  margin-right: -3px; }
  .x-small-grid > [class^="layout-"] {
    padding-left: 3px;
    padding-right: 3px; }

.layout-xs-1, .layout-sm-1, .layout-md-1, .layout-lg-1, .col-layout-2, .layout-sm-2, .layout-md-2, .layout-lg-2, .col-layout-3, .layout-sm-3, .layout-md-3, .layout-lg-3, .col-layout-4, .layout-sm-4, .layout-md-4, .layout-lg-4, .col-layout-5, .layout-sm-5, .layout-md-5, .layout-lg-5, .col-layout-6, .layout-sm-6, .layout-md-6, .layout-lg-6, .col-layout-7, .layout-sm-7, .layout-md-7, .layout-lg-7, .col-layout-8, .layout-sm-8, .layout-md-8, .layout-lg-8, .col-layout-9, .layout-sm-9, .layout-md-9, .layout-lg-9, .col-layout-10, .layout-sm-10, .layout-md-10, .layout-lg-10, .col-layout-11, .layout-sm-11, .layout-md-11, .layout-lg-11, .col-layout-12, .layout-sm-12, .layout-md-12, .layout-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 360px) {
  .layout-xs-1, .layout-xs-2, .layout-xs-3, .layout-xs-4, .layout-xs-5, .layout-xs-6, .layout-xs-7, .layout-xs-8, .layout-xs-9, .layout-xs-10, .layout-xs-11, .layout-xs-12 {
    float: left; }
  .layout-xs-1 {
    width: 8.33333%; }
  .layout-xs-2 {
    width: 16.66667%; }
  .layout-xs-3 {
    width: 25%; }
  .layout-xs-4 {
    width: 33.33333%; }
  .layout-xs-5 {
    width: 41.66667%; }
  .layout-xs-6 {
    width: 50%; }
  .layout-xs-7 {
    width: 58.33333%; }
  .layout-xs-8 {
    width: 66.66667%; }
  .layout-xs-9 {
    width: 75%; }
  .layout-xs-10 {
    width: 83.33333%; }
  .layout-xs-11 {
    width: 91.66667%; }
  .layout-xs-12 {
    width: 100%; } }

@media (min-width: 768px) {
  .layout-sm-1, .layout-sm-2, .layout-sm-3, .layout-sm-4, .layout-sm-5, .layout-sm-6, .layout-sm-7, .layout-sm-8, .layout-sm-9, .layout-sm-10, .layout-sm-11, .layout-sm-12 {
    float: left; }
  .layout-sm-1 {
    width: 8.33333%; }
  .layout-sm-2 {
    width: 16.66667%; }
  .layout-sm-3 {
    width: 25%; }
  .layout-sm-4 {
    width: 33.33333%; }
  .layout-sm-5 {
    width: 41.66667%; }
  .layout-sm-6 {
    width: 50%; }
  .layout-sm-7 {
    width: 58.33333%; }
  .layout-sm-8 {
    width: 66.66667%; }
  .layout-sm-9 {
    width: 75%; }
  .layout-sm-10 {
    width: 83.33333%; }
  .layout-sm-11 {
    width: 91.66667%; }
  .layout-sm-12 {
    width: 100%; }
  .layout-container {
    width: 750px; }
  .layout-fluid-container {
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .layout-md-1, .layout-md-2, .layout-md-3, .layout-md-4, .layout-md-5, .layout-md-6, .layout-md-7, .layout-md-8, .layout-md-9, .layout-md-10, .layout-md-11, .layout-md-12 {
    float: left; }
  .layout-md-1 {
    width: 8.33333%; }
  .layout-md-2 {
    width: 16.66667%; }
  .layout-md-3 {
    width: 25%; }
  .layout-md-4 {
    width: 33.33333%; }
  .layout-md-5 {
    width: 41.66667%; }
  .layout-md-6 {
    width: 50%; }
  .layout-md-7 {
    width: 58.33333%; }
  .layout-md-8 {
    width: 66.66667%; }
  .layout-md-9 {
    width: 75%; }
  .layout-md-10 {
    width: 83.33333%; }
  .layout-md-11 {
    width: 91.66667%; }
  .layout-md-12 {
    width: 100%; }
  .layout-container {
    width: 970px; }
  .layout-fluid-container {
    padding-left: 30px;
    padding-right: 30px; } }

@media (min-width: 1200px) {
  .layout-lg-1, .layout-lg-2, .layout-lg-3, .layout-lg-4, .layout-lg-5, .layout-lg-6, .layout-lg-7, .layout-lg-8, .layout-lg-9, .layout-lg-10, .layout-lg-11, .layout-lg-12 {
    float: left; }
  .layout-lg-1 {
    width: 8.33333%; }
  .layout-lg-2 {
    width: 16.66667%; }
  .layout-lg-3 {
    width: 25%; }
  .layout-lg-4 {
    width: 33.33333%; }
  .layout-lg-5 {
    width: 41.66667%; }
  .layout-lg-6 {
    width: 50%; }
  .layout-lg-7 {
    width: 58.33333%; }
  .layout-lg-8 {
    width: 66.66667%; }
  .layout-lg-9 {
    width: 75%; }
  .layout-lg-10 {
    width: 83.33333%; }
  .layout-lg-11 {
    width: 91.66667%; }
  .layout-lg-12 {
    width: 100%; }
  .layout-container {
    width: 1200px; }
  .layout-fluid-container {
    padding-left: 40px;
    padding-right: 40px; } }

.main-header {
  background-color: #fff;
  padding: 15px 0;
  text-align: center; }
  .main-header__menu-btn {
    font-size: 24px;
    float: left; }
  .main-header__main-menu {
    float: left;
    margin-left: 30px; }
  .main-header__profile, .main-header__search-btn {
    font-size: 16px;
    color: #3e3e3e; }
    .main-header__profile:hover, .main-header__profile:active, .main-header__search-btn:hover, .main-header__search-btn:active {
      color: #00cc9c; }
  .main-header__profile {
    font-weight: bold;
    margin-right: 20px; }
  .main-header__text-link {
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 700;
    margin: 0 20px; }
    .main-header__text-link:hover, .main-header__text-link:active {
      color: #00cc9c; }
  .main-header__main-logo {
    display: block;
    margin: 0 auto;
    width: 125px; }
  .main-header__right {
    float: right; }

.header-dc {
  float: left; }
  .header-dc__dollar, .header-dc__cart {
    position: relative;
    display: inline-block; }
    .header-dc__dollar--btn, .header-dc__cart--btn {
      color: #3e3e3e; }
      .header-dc__dollar--btn:hover, .header-dc__cart--btn:hover {
        color: #00cc9c; }
    .header-dc__dollar-hover, .header-dc__cart-hover {
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 16px;
      background-color: #fff;
      -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      z-index: 9;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear false;
      -o-transition: all 0.2s linear false;
      transition: all 0.2s linear;
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      visibility: hidden; }
  .header-dc__dollar--btn {
    margin-left: 10px;
    font-size: 16px;
    position: relative;
    top: 1px; }
  .header-dc__dollar:hover .header-dc__dollar-hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  .header-dc__dollar-hover {
    width: 60px;
    right: -25px; }
    .header-dc__dollar-hover--link {
      display: block;
      padding: 10px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
      .header-dc__dollar-hover--link:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: 0.8; }
  .header-dc__cart--btn {
    font-size: 18px;
    margin-left: 15px; }
  .header-dc__cart:hover .header-dc__cart-hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  .header-dc__cart-hover {
    width: 250px; }

.header-cart-hover--link {
  display: block;
  padding: 10px;
  color: #3e3e3e;
  font-size: 14px; }

.header-cart-hover--empty {
  display: block;
  padding: 10px;
  color: #505050;
  font-size: 14px; }

@media (min-width: 768px) {
  .main-header__menu-btn {
    margin-top: 12px; }
  .main-header__main-menu {
    margin-top: 12px; }
  .main-header__right--main-menu {
    margin-top: 0;
    margin-left: 0; }
  .main-header__right {
    margin-top: 12px; }
  .header-dc__cart--btn {
    margin-left: 20px; } }

@media (max-width: 767px) {
  .main-header__main-menu {
    display: none; }
  .main-header__main-logo {
    width: 70px; } }

.basic-form .form-group {
  margin-bottom: 15px;
  *zoom: 1;
  position: relative; }
  .basic-form .form-group:before, .basic-form .form-group:after {
    content: " ";
    display: table; }
  .basic-form .form-group:after {
    clear: both; }
  .basic-form .form-group .text-field {
    display: block;
    border: none;
    border-bottom: solid 1px rgba(0, 204, 156, 0.4);
    background-color: transparent;
    height: 50px;
    padding: 10px 0;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: #fff; }
    .basic-form .form-group .text-field::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #00cc9c;
      opacity: 0.6; }
    .basic-form .form-group .text-field::-moz-placeholder {
      /* Firefox 19+ */
      color: #00cc9c;
      opacity: 0.6; }
    .basic-form .form-group .text-field:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(0, 204, 156, 0.6);
      /*color: $color;
        opacity: $opacity;*/ }
    .basic-form .form-group .text-field::-ms-input-placeholder {
      /* Firefox 18- */
      color: #00cc9c;
      opacity: 0.6; }
    .basic-form .form-group .text-field:-moz-placeholder {
      /* Firefox 18- */
      color: #00cc9c;
      opacity: 0.6; }
    .basic-form .form-group .text-field:focus {
      font-weight: 500; }
  .basic-form .form-group textarea.text-field {
    height: auto;
    resize: none;
    margin-top: 5px;
    overflow: auto; }
  .basic-form .form-group.no-margin {
    margin-bottom: 0; }
  .basic-form .form-group::after {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear false;
    -o-transition: all 0.3s linear false;
    transition: all 0.3s linear;
    width: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  .basic-form .form-group.focus::after {
    left: 0;
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  .basic-form .form-group.last {
    margin-bottom: 60px; }

.basic-form .custom-select .active-list::before {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear false;
  -o-transition: all 0.3s linear false;
  transition: all 0.3s linear;
  width: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

.basic-form .custom-select.select-open .active-list::before {
  left: 0;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.basic-form .required {
  color: #fd7061; }

.basic-form .submit-btn {
  border-width: 2px;
  padding: 15px 35px 11px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 40px; }
  .basic-form .submit-btn i {
    margin-left: 10px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle; }

.primary-color {
  background-color: #00cc9c; }

.common-content-block {
  padding: 30px 0;
  text-align: center; }
  .common-content-block__title {
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin-bottom: 0;
    position: relative;
    max-width: 600px;
    width: 100%;
    display: inline-block; }
    .common-content-block__title::after {
      content: '';
      margin-bottom: 10px;
      margin-top: 5px;
      background-color: #e0e0e0;
      height: 1px;
      display: block; }
  .common-content-block__para {
    color: #3e3e3e;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    max-width: 700px; }

.media-grid-block {
  overflow: hidden;
  text-align: center; }
  .media-grid-block__img {
    width: 100%;
    display: block; }
    .media-grid-block__img--auto {
      width: auto;
      vertical-align: middle;
      display: inline-block; }
  .media-grid-block__video {
    width: 100%; }
  .media-grid-block__wrapper {
    margin-left: 0;
    margin-right: 0; }
    .media-grid-block__wrapper--no-padding-xs {
      margin-left: -15px;
      margin-right: -15px; }
  .media-grid-block__col {
    padding-left: 0;
    padding-right: 0; }

.whats-in-the-box {
  background-color: #f1f2f4;
  padding-bottom: 30px; }
  .whats-in-the-box--shop-btn {
    display: inline-block;
    letter-spacing: 0.09em;
    width: 100%;
    max-width: 320px; }

@media (min-width: 768px) {
  .common-content-block {
    padding: 60px 0; }
    .common-content-block__title {
      font-size: 18px;
      color: #3e3e3e; }
    .common-content-block__para {
      font-size: 18px; }
  .media-grid-block__wrapper {
    margin-left: -1px;
    margin-right: -1px; }
  .media-grid-block__col {
    padding-left: 1px;
    padding-right: 1px; }
    .media-grid-block__col--right-sm {
      float: right; }
    .media-grid-block__col--mb {
      margin-bottom: 2px; }
  .whats-in-the-box {
    padding-bottom: 60px; }
    .whats-in-the-box--shop-btn {
      font-size: 16px;
      padding: 12px 30px; } }

@media (min-width: 992px) {
  .common-content-block {
    padding: 90px 0; }
    .common-content-block__title {
      font-size: 20px; }
    .common-content-block__para {
      font-size: 20px; } }

@media (min-width: 1700px) {
  .common-content-block {
    padding: 120px 0; } }

.main-banner__video-iframe {
  display: none; }

.main-banner__img {
  width: 100%; }

.main-banner__content {
  position: relative; }
  .main-banner__content::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1; }

.main-banner--play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 54px;
  height: 54px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 54px;
  margin-top: -27px;
  z-index: 10;
  margin-left: -27px; }
  .main-banner--play:hover {
    color: #fff; }

.main-banner__quote {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0;
  z-index: 9; }
  .main-banner__quote-col {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    padding-right: 10%;
    vertical-align: middle; }
    .main-banner__quote-col--right {
      padding-right: 0;
      padding-left: 10%; }
  .main-banner__quote-img {
    display: inline-block; }
  .main-banner__quote-txt {
    font-size: 16px;
    color: #fff; }

.main-banner__content-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 9; }

.main-banner--shop {
  display: inline-block;
  letter-spacing: 0.09em; }

.huge-thanks {
  background-color: #ececee;
  text-align: center;
  padding: 30px 0 0; }
  .huge-thanks__title {
    color: #909090;
    margin-bottom: 10px;
    font-size: 18px; }
    .huge-thanks__title--brand {
      color: #e0007b;
      font-weight: 900;
      font-size: 22px;
      display: block; }
  .huge-thanks__box {
    padding: 10px 20px;
    border: solid 1px #00cc9c;
    margin-bottom: 15px;
    display: none;
    color: #00cc9c;
    font-size: 18px;
    margin-bottom: 15px;
    max-width: 450px;
    width: 100%; }
  .huge-thanks__amount {
    color: #00cc9c;
    font-weight: 900;
    font-size: 24px; }
    .huge-thanks__amount--min-md {
      display: none; }
  .huge-thanks__figure {
    margin: 0 -15px; }
  .huge-thanks__img {
    display: inline-block;
    width: 100%;
    vertical-align: top; }
    .huge-thanks__img--min-md {
      display: none; }

@media (min-width: 768px) {
  .main-banner__quote {
    display: block; }
  .main-banner__content-wrap {
    padding-bottom: 50px; }
  .main-banner--shop {
    font-size: 16px;
    padding: 12px 30px; }
  .huge-thanks__title {
    color: #3e3e3e;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700; }
    .huge-thanks__title--brand {
      color: inherit;
      font-size: 26px;
      margin-left: 10px;
      display: inline-block; }
  .huge-thanks__box {
    display: inline-block; }
  .huge-thanks__amount {
    font-size: 30px; } }

@media (min-width: 992px) {
  .main-banner {
    overflow: hidden; }
    .main-banner__content {
      height: 100%; }
    .main-banner--play {
      width: 84px;
      height: 84px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 84px;
      margin-top: -42px;
      margin-left: -42px; }
    .main-banner__quote-col {
      padding-right: 20%; }
      .main-banner__quote-col--right {
        padding-right: 0;
        padding-left: 20%; }
    .main-banner__quote-txt {
      font-size: 18px; }
  .huge-thanks {
    padding: 30px 0 10px; }
    .huge-thanks__box {
      padding: 40px 10%;
      margin-top: 25px;
      margin-bottom: 0; }
    .huge-thanks__amount {
      text-align: left;
      margin-top: 80px; }
      .huge-thanks__amount--max-md {
        display: none; }
      .huge-thanks__amount--min-md {
        display: block; }
    .huge-thanks__figure {
      margin: 0; }
    .huge-thanks__img--max-md {
      display: none; }
    .huge-thanks__img--min-md {
      display: block; } }

@media (min-width: 1200px) {
  .main-banner {
    height: calc(100vh - 70px); }
  .huge-thanks__box {
    margin-top: 70px;
    line-height: 1.5;
    font-size: 20px; }
  .huge-thanks__amount {
    margin-top: 150px;
    font-size: 36px; } }

@media (min-width: 1700px) {
  .huge-thanks__box {
    margin-top: 170px; }
  .huge-thanks__amount {
    margin-top: 250px;
    font-size: 40px; } }
