.text-field{
    width: 100%;
    border: none;
    @include transition(all 0.2s linear);
    border: solid 1px #dfe1e4;
    height: 31px;
    font-family: $font-family-base;
    font-weight: normal;
    font-size: 14px;
    color: $title-font-color;
    @include placeholder(#a1a1a1, 1);
    padding: 10px;
    &:focus {
        border-color: darken(#dfe1e4, 10%);
    }
}

//hidden input
.hidden-input{
    @include opacity(0);
}

/*dropdown selectbox list as ul li method*/
.custom-select{
    $size    : 46px;
    $padding : 10px;
    border-bottom: solid 1px rgba($primary-color,.4);
    display: inline-block;
    height: $size;
    position: relative;
    padding: 0;
    width: 100%;
    @include border-radius(2px);
    line-height: $size;
    text-align: left;
    .list-field{
        width: 100%;
        height: $size;
        padding: 0 $padding;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    .active-list{
        width: 100%;
        height: $size;
        padding: 0;
        cursor: pointer;
        line-height: $size - 2;
        font-size: 14px;
        @include no-select();
        color: rgba($primary-color,.35);
        &:after{
            content: "\e939"; 
            @include customIcon();
            position: absolute;
            right: 0;
            top: 50%;
            height: $size;
            line-height: $size;
            color: rgba($primary-color,.6);
            font-size: 14px;
            margin-top: -$size/2;
        }
    }
    .added{
        color: $primary-color;
    }
    .drop-down-list{
        width: 100%;
        height: auto;
        max-height: 150px;
        overflow-x: auto;
        z-index: 99;
        padding: 0;
        margin: 0;
        position: absolute;
        top: $size;
        left: 0;
        display: block;
        border-top: none;
        visibility: hidden;

        @include opacity(0);
        @include box-shadow(1px 3px 5px rgba(0, 0, 0, 0.05));
        @include transform(scale(1, 0.9) translateY(-20px));
        @include transition(all 0.2s ease-in);
        @include scrollbar(6px, 3px, rgba(#fff,0.1), rgba(#fff,.2));

        li{ 
            padding: $padding; 
            cursor: pointer;
            font-size: inherit;
            line-height: normal;
            border-bottom: solid 1px rgba(#fff,.05);
            @include transition(all 0.2s ease-in);
            list-style: none;
            background-color: lighten(black, 5%);
            color: #fff;
            input[type="checkbox"]{
                margin: 0;
                margin-right: 8px;
                position: relative;
                top: 1px;
            }
            label{
                font-weight: normal;
                cursor: pointer;
                display: block;
            }
        } 
        li:hover{
            background-color: lighten(black, 10%);
        }
    }
    &.select-open{
        .drop-down-list{
            visibility: visible;
            @include transform(scale(1) translateY(0px));
            @include opacity(1);
        }
        .active-list:after{ 
            content: "\e93a"; 
        }
    } 
}