//body overflow hidden
.overflow-hidden{
    overflow: hidden !important;
}
//popup box
.popup-box-wrap{
    display: none;
    background-color: rgba($overlay-color, $overlay-opacity);
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 112;
    .overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: $stack-xs;
    }
}
.popup-box {
    width: 80%;
    margin: 60px auto;
    background-color: white;
    @include box-shadow(0 2px 5px rgba(#28292a,.2));
    @include border-radius($radius);
    position: relative;
    z-index: $stack-sm;
    .popup-content {
        padding: 40px 35px;
    }
    .outside-close{
        position: absolute;
        @include equal-size(30px);
        text-align: center;
        line-height: 30px;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        top: -35px;
        right: 0;
        @include border-radius(2px);
        &:hover{
            background-color: #000;
            color: #fff;
        }
    }
    .popup-header{
        padding: 40px 35px 0;
        position: relative;
        h3{
            display: inline-block;
            font-size: 18px;
            margin: 0;
            color: $title-font-color;
            font-family: $title-font;
            font-weight: 700;
        }
        .popup-close{
            float: right;
            font-size: 12px;
            color: #b9b9b9;
            font-weight: normal;
            position: relative;
            top: -10px;
            cursor: pointer;
            @include opacity(.6);
            @include transition(all 0.2s linear);
            &:hover{
                @include opacity(1);
            }
        }
    }
    .popup-footer{
        padding: 0 35px 40px;
        .submit-btn{
            font-family: $font-family-base;
            font-weight: 600;
            height: 44px;
        }
    }
}



///Media Query Popup
@media (min-width: $screen-md-min) {
    .popup-box {
        width: 700px;
        margin: 50px auto;
        .outside-close{
            right: -35px;
            top: 0;
        }
        &.popup-box-sm{
            width: 400px;
        }
        &.popup-box-md{
            width: 600px;
        }
        &.popup-box-lg{
            width: 1000px;
        }
    }
}