//social web links
.social-links{
    display: inline-block;
    a{
        text-align: center;
        display: inline-block; 
        color: #000; 
        &:hover{
            color: $primary-color;
        }
        + a{
            margin-left: 10px;
        }
    } 
}
  