.tab {
    .tab-menu {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 0;
        a {
            color: $sub-font-color;
            font-size: 14px;
            font-weight: 500;
            display: inline-block;
            margin: 0 20px;
            padding-bottom: 10px;
            border-bottom: solid 2px transparent;
            &.active {
                border-color: $primary-color;
                color: $default-font-color;
            }
        }
    }
    .tab-container {}
    .tab-container_wrpr {
        background: #fff;
        padding: 10px;
        &.no-padding{
            padding: 0;
        }
    }
}