//google font api 
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

//Custom Icons 

@font-face {
  font-family: 'mousIcon';
  src:  url('../fonts/mousIcon.eot?f0fl0j');
  src:  url('../fonts/mousIcon.eot?f0fl0j#iefix') format('embedded-opentype'),
    url('../fonts/mousIcon.ttf?f0fl0j') format('truetype'),
    url('../fonts/mousIcon.woff?f0fl0j') format('woff'),
    url('../fonts/mousIcon.svg?f0fl0j#mousIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    @include customIcon();
}  

.icon-play:before {
  content: "\e90c";
}
.icon-basket:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-dollar:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-left-arrow:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-up-arrow:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90b";
}
